%section.registration
  .how
    %h1 Comment ça fonctionne?
    .step.s1
      %h2 Étape 1
      %p Inscription
    .step.s2
      %h2 Étape 2
      %p Nous cherchons des tablettes
    .step.s3
      %h2 Étape 3
      %p
        Nous vous envoyons un mail dès que les tablettes sont disponibles
  -# = form_for @registration, remote: true, html: { 'data-type' => 'json'} do |f|
  = form_for @registration do |f|
    = field_set_tag '', :class => 'email' do
      = f.label :email
      = f.text_field :email, :placeholder => 'votre email'
      = f.submit "s'enregistrer"
      %p.inscrits= "Déjà #{Registration.count} inscrits"
  - if @last_results.any?
    %h2 Derniers produits trouvés
    %ul.last_results
      - @last_results.each do |result|
        %li= link_to result.title, result.url
  .services
    %h2 Les services que nous explorons
    = link_to image_tag('fnac_fr.jpg'), 'http://www.fnac.fr/'
    = link_to image_tag('rue_du_commerce.png'), 'http://www.rueducommerce.fr/'
